# Create /dev/touchscreen symlink for first found multitouch event device.
KERNEL=="event*", SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHSCREEN}=="1", ACTION=="add", TEST!="/dev/touchscreen", SYMLINK+="touchscreen"
